body {
			background-color: f0e9e2;
			margin: 0px;
			font-family: Candara, Arial, Sans-Serif;
			color: 1C1A1A;
		}
		#header {
			background-color:e8e1d5;
			width: 100%;
			height: 8em;
			position: relative;
		}
		#page-menu {
			width:50%;
		    text-align:center;
			margin-left:50%;
			font-size:1.5em;
			text-decoration:none;
			font-weight:bold;
		}
		.header-text {
			font-size:3.5em
			margin-left: 0.5em
		}
		#page-menu a:link, #page-menu a:visited, #page-menu a:hover, #page-menu a:active, #page-menu a:focus {
				text-decoration:none;
				font-weight:bold;
				color:1C1A1A;
		}
		.vertical-center {
		  margin: 0;
		  position: absolute;
		  top: 50%;
		  -ms-transform: translateY(-50%);
		  transform: translateY(-50%);
		}
		.wobble-egg {
			position:absolute;
			left: 8.5em;
		}
		.questions{
			margin: 0;
			width: 65%;
		 }
		.questions h1, h2 {
			margin-left: 4em;
			margin-top: 2em;
		}
		.questions p {
			margin-left: 2em;
			font-size: 1.25em;
		}
